
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_QLBanHangLayout.cshtml";
}

@Html.Action("_HangHoaMoiPartial", "HangHoa")

@*<section class="ftco-section" style="background-color:aqua;height:400px">
    <h2> Index</h2>
</section>*@

@section BannerHero{
    @Html.Partial("_HeroBanner1Partial")
}
@section Gallery{
    @Html.Action("_GallaryPartial","HangHoa",new { loaiID = 1})
}

